{% extends '@!EasyAdmin/page/content.html.twig' %}
{% block page_title %}
	{{ 'backend.websiteInfo.editOpeningHours'|trans }}
{% endblock page_title %}
{% block main %}
	{{ form_start(form) }}
	<div class="row m-4">
		<div class="col-12 p-4 bg-light m-4">{{ 'form.editOpeningHours.detailedHelp'|trans|raw }}</div>
		<div class="col-8 offset-2">{{ form_widget(form.openingHours,{ 'attr': { 
  'class' : 'p-2', 
  'style' : 'width:100%', 
  'rows' : '12', 
  'cols' : '30' }}) }}</div>
	</div>
	<div class="row m-4">
		<div class="col-4 offset-4">{{ form_row(form.submit) }}</div>
	</div>
	{{ form_end(form) }}

{% endblock main %}
