{% extends '@NakaCMS/backend/layout/layout-form.html.twig' %}
{% block form_title %}
	{{ 'backend.form.chooseBlockToAdd.title'|trans }}
{% endblock form_title %}
{% block form_explanation %}{% endblock form_explanation %}

{% block form_content %}
	{{ form_start(form) }}
	<div class="row m-4">
		<div class="col-12 p-4 bg-light m-4">{{ 'backend.form.chooseBlockToAdd.detailedHelp'|trans|raw }}</div>
	</div>
	<div class="row m-4">
		<div class="col-4">{{ form_label(form.name) }}</div>
		<div class="col-8">{{ form_widget(form.name) }}</div>
		<div class="col-8 offset-4">{{ form_help(form.name) }}</div>
	</div>
	<div class="row m-4">
		<div class="col-4">{{ form_label(form.blockElementType) }}</div>
		<div class="col-8">{{ form_widget(form.blockElementType) }}</div>
		<div class="col-8 offset-4">{{ form_help(form.blockElementType) }}</div>
	</div>
	<div class="row m-4">
		<div class="col-4 offset-4">
			{{ form_row(form.submit, { 'attr' : { 'class': 'btn  btn-success btn-block px-4 py-2' } }) }}
		</div>
	</div>
	{{ form_end(form) }}

{% endblock form_content %}
