{% form_theme form with [
    '@NakaCMS/admin/form-theme/drag_n_drop_page.html.twig'
] %}

{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block head_stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('dragndrop') }}
{% endblock %}

{% block page_title %}
	{{ 'backend.form.reorganizeBlocksInPage.title'|trans }} <span class="bg-secondary p-2 rounded fw-lighter">{{ page.name }}</span>
{% endblock page_title %}

{% block main %}
	{{ form_start(form) }}
	<div class="row my-4">
		<div class="col-4 offset-1 p-4 bg-light">{{ 'backend.form.reorganizeBlocksInPage.detailedHelp'|trans|raw }}</div>
		<div class="col-7">
			<div id="sortable" data-new-order-key="blocks_in_page_position_newOrder">
				{% for pageBlockElement in form.pageBlockElements %}
					<div class="row m-4 sortable-item rounded" data-id="{{ pageBlockElement.vars.value.id }}">
						<div class="col-12">{{ form_widget(pageBlockElement) }}</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="d-grid gap-2 col-4 mx-auto my-4">
			{{ form_widget(form.submit, { 'attr' : { 'class': 'btn btn-success p-4' } }) }}
		</div>
		{{ form_end(form) }}
	</div>

{% endblock main %}

{% block body_javascript %}
	{{ encore_entry_script_tags('dragndrop') }}
{% endblock body_javascript %}
