{% block content %}
	<div class="row">
		<div class="col-10 offset-1">
			<h2 class="text-center mt-4 p-2">{{ 'openingHours.title' | trans}}</h2>
		</div>
		<div class="col-10 offset-1">
			<table class="table table-hover text-center">
				<thead class="thead">
					<th>{{ 'openingHours.day' | trans}}</th>
					<th>{{ 'openingHours.hours' | trans}}</th>
				</thead>
				<tbody>

					{% for day in ['monday','tuesday','wednesday', 'thursday', 'friday', 'saturday', 'sunday'] %}
						<tr class="bg-gradient text-white {{day in openingHours|keys and openingHours[day]|length > 0 ? 'bg-success' : 'bg-danger'}}" style="--bs-bg-opacity: .8;">
							<td>{{day|carbonWeekDay}}</td>
							<td>
								{% if day in openingHours|keys %}
									{% if openingHours[day]|length > 0 %}
										{% for range in openingHours[day] %}
											{{range}}
												{% if not loop.last %}
													/
												{% endif %}
											{% endfor %}
										{% else %}
											{{ 'openingHours.closed' | trans}}
										{% endif %}
									{% else %}
										{{ 'openingHours.closed' | trans}}
									{% endif %}
								</td>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
