{% extends '@NakaCMS/layout/base-layout.html.twig' %}

{% block title %}
			{{ 'form.resetPassword.reset.title' | trans }}
{% endblock title %}

{% block content %}
	<div class="row global-main-form-style my-5 mx-4 p-3">

		<h1>
			{{ 'form.resetPassword.reset.header' | trans }}
		</h1>

		{{ form_start(resetForm) }}
		{{ form_row(resetForm.plainPassword) }}
		<button class="btn btn-primary">
			{{ 'form.resetPassword.reset.submitText' | trans }}
		</button>
		{{ form_end(resetForm) }}
	</div>
{% endblock content %}
