{% block _naksa_menu_menuItems_widget %}
	asd
{% endblock %}
asd
{% block sortable_block_widget %}
	{# {{dump()}} #}
	<div class="d-flex justify-content-evenly m-2 p-2">
		<div class="align-end">
			<span class="p-2">
				{{ 'backend.form.configureMenu.position'|trans }}
			</span>
			<span class="fa-stack fa-2x"  data-bs-toggle="tooltip" data-bs-placement="top" title="{{ name }}">
				<i class="fa fa-circle fa-stack-2x"></i>
				<strong class="fa-stack-1x text-light">{{ data|default('?') }}</strong>
			</span>
		</div>
		<div {{ block('widget_attributes') }} {% if value is not empty %} value="{{ value }}" {% endif %}>
			{{ 'backend.form.configureMenu.menuItem'|trans }}
			{{label}}


		</div>
		{# no chevron for now #}
		{# <div class="align-end">
			<p>
				<i class="fa fa-3x fa-chevron-up"></i>
			</p>
			<p>
				<i class="fa fa-3x fa-chevron-down"></i>
			</p>
		</div> #}
	</div>
{% endblock %}
