{% extends '@NakaCMS/layout/base-layout.html.twig' %}

{% block stylesheets_extra %}
	<style>
		{% for blockElement in blockElements %}
			{{blockElement.cssCode|raw}}
		{% endfor %}
	</style>

{% endblock stylesheets_extra %}

{% block content %}
	{% if blockElements|length >0 %}
		{% for blockElement in blockElements %}
			<div class="{{ blockElement.blockElement.extraCssClass ? blockElement.blockElement.extraCssClass : '' }}">
				<div class="{{ blockElement.blockElement.isFluid == true ? 'container-fluid p-0' : 'container g-0' }}">
					{% include '@NakaCMS/admin/component/design_helper.html.twig' with { blockElement: blockElement} %}
					{% if blockElement.blockElement.type == 'carousel' %}
						{% include '@NakaCMS/naka/block-element/render-block-carousel.html.twig' with { blockElement: blockElement} %}
					{% elseif blockElement.blockElement.type == 'gallery' %}
						{% include '@NakaCMS/naka/block-element/render_block_gallery.html.twig' with { blockElement: blockElement} %}
					{% else %}
						{% include '@NakaCMS/naka/block-element/render-block-element.html.twig' with { blockElement: blockElement} %}
					{% endif %}
				</div>
			</div>
		{% endfor %}
	{% endif %}
{% endblock content %}

{% block javascripts_extra %}
	{{ parent() }}
	{% for blockElement in blockElements %}
		{{ blockElement.jsCode|raw }}
	{% endfor %}
	<script></script>
{% endblock javascripts_extra %}
