{% extends '@NakaCMS/email/base-email-layout.html.twig' %}

{% block impact_message %}
	<h1 class="text-center">{{ 'email.new-contact.title' | trans }}</h1>
{% endblock impact_message %}

{% block email_content %}
	<p class="block">
		{{ 'email.new-contact.you-have-a-new-message' | trans }}
	</p>
	<div class="block">
		<h2>From:
			{{ contact.name }}</h2>
		<h2>Email:
			{{ contact.email }}</h2>
		<hr/>
		<p>Subject:
			{{ contact.subject }}</p>
		<p>Message:
			{{ contact.message }}</p>
	</div>
{% endblock email_content %}
