{% extends '@NakaCMS/email/base_email_layout.html.twig' %}

{% block impact_message %}
	<h1 class="text-center">{{ 'email.office.newContactMessage.title' | trans({'%applicationName%': application_name }) }}</h1>
{% endblock impact_message %}

{% block email_content %}
	<p class="block">
		{{ 'email.office.newContactMessage.youHaveANewMessage' | trans }}
	</p>
	<div class="block">
		<h2>From:
			{{ contact.name }}</h2>
		<h2>Email:
			{{ contact.email }}</h2>
		<hr/>
		<p>Subject:
			{{ contact.subject }}</p>
		<p>Message:
			{{ contact.message }}</p>
	</div>
{% endblock email_content %}
