{% extends '@NakaCMS/email/base-email-layout.html.twig' %}

{% block title %}
	{{ 'email.resetPassword.title' | trans }}
{% endblock title %}

{% block impact_message %}
	<h1 class="text-center">
		{{ 'email.resetPassword.impactMessage' | raw }}
	</h1>
{% endblock impact_message %}

{% block email_content %}
	{{ 'email.resetPassword.content' | trans({'%expireLimit%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') })|raw }}
	<br/>
	<div class="text-center">
		<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>
	</div>
{% endblock email_content %}
