{% extends '@NakaCMS/email/base-email-layout.html.twig' %}

{% block impact_message %}
	<h1 class="text-center">Nice to meet you
		{{ user.firstName }}!</h1>

{% endblock impact_message %}

{% block email_content %}

	<p class="block">
		Welcome to
		<strong>the
			{{ application_name }}</strong>,
	</p>
	<p class="block">
		You can now access the
		{{ application_name }}
		platform and manage the content as an editor. Connect to
		<a href="{{ url('admin_dashboard') }}">the
			{{ application_name }}
			Editor Admin</a>
		and update or create your event.
	</p>
{% endblock email_content %}
