<!doctype html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Welcome to the Space Bar!</title>
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700 &display=swap');
			body {
				margin: 0;
				padding: 0;
				background-color: #f3f3f3;
				font-family: Helvetica, Arial, sans-serif;
			}
			h1 {
				background-color: #264459;
				color: #ffffff;
				padding: 30px 0 50px;
				font-weight: normal;
			}
			hr {
				border: none;
				border-top: 3px solid #264459;
				margin: 20px;
			}
			.container {
				background-color: #fefefe;
				width: 580px;
				margin: 0 auto;
			}
			.bottom {
				background-color: #efefee;
			}
			.block {
				margin: 0;
				padding: 10px 20px 20px;
			}
			.logo {
				width: 100%;
				font-family: 'Caveat', cursive;
				font-size: 40px;
				text-decoration: none;
			}
			.text-center {
				text-align: center;
			}
			.btn {
				display: inline-block;
				padding: 10px 20px;
				background-color: #264459;
				color: #fefefe;
				border: 1px solid #fff;
				border-radius: 3px;
				font-size: 20px;
				font-weight: bold;
				text-decoration: none;
			}
		</style>
	</head>
	<body>
		<div class="body">
			<div class="container">
				<div class="header text-center">
					<a href="{{ url('app_homepage') }}" class="logo">
						{{ application_name }}
					</a>
				</div>
				<div class="content">
					<h1 class="text-center">Nice to meet you
						{{ user.firstName }}!</h1>
					<p class="block">
						Welcome to
						<strong>the {{ application_name }}</strong>,
					</p>
					<p class="block">
						You can now access the {{ application_name }} platform and manage the content as an editor. Connect to
						<a href="{{ url('admin_dashboard') }}">the {{ application_name }} Editor Admin</a>
						and update or create your event.
					</p>
				</div>
				<div class="footer">
					<p class="block">
						Cheers,<br><br>
						Your friendly
						<em>The {{ application_name }} Team</em>
					</p>
					<p class="block bottom text-center">
						Sent with ❤️ from the friendly folks at The {{ application_name }}
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
