{% extends '@NakaCMS/layout/base-layout.html.twig' %}

{% block title %}list of pages
{% endblock %}

{% block content %}
	<div class="row">
		{% for page in pages %}
			<div class="col-6">
				<h2>Page
					{{page.id}}
					{{page.pageGallery ? page.pageGallery.images|length:''}}
				</h2>
				<a href="{{ url('page_view', { page: page.id }) }}" class="" role="button">
					<p>{{page.name}}</p>
				</a>
				{% if page.pageGallery and page.pageGallery.images|length > 0%}
					<div class="glide">
						<div class="glide__track" data-glide-el="track">
							<ul class="glide__slides">
								{% for image in page.pageGallery.images %}
									<li class="glide__slide">
										<img src="{{ vich_uploader_asset(image)|imagine_filter('squared_thumbnail_medium') }}" alt="{{ image }}"/>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>

{% endblock %}
