{% extends '@!EasyAdmin/layout.html.twig' %}

{% block header_logo %}
	<a class="logo" title="{{ ea.dashboardTitle|striptags }}" href="{{ path(ea.dashboardRouteName) }}">
		<span class="logo-custom">{{ ea.dashboardTitle|raw }}</span>
		<span class="logo-compact">
			<i class="fa fa-chess-queen fa-lg faa-float faa-slow animated"></i>
			{# <i class="fa fa-fw fa-chess-queen faa-flash faa-slow fa-lg"></i> #}
		</span>
	</a>
{% endblock header_logo %}

{% block header_custom_menu %}
	{% include '@NakaCMS/backend/layout/_easyadmin-naka-navbar.html.twig' %}
{% endblock header_custom_menu %}

{% block sidebar %}
	{{ parent() }}

	<p class="sidebar-version">NakaCMS
		{{ naka_version|capitalize }}
		<span class="env-version">[{{ naka_env }}]</span>
	</p>
{% endblock sidebar %}
