{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block head_stylesheets %}
	{{ parent() }}
{% endblock %}

{% block page_title %}
	{{ 'backend.controlPanel.title'|trans }}
{% endblock page_title %}

{% block content_title %}
	<h1>
		{% if controlPanelOperations|length == 1 %}
			{{ 'backend.controlPanel.typeOfOperations'|trans({'%typeOfOperation%' : controlPanelOperations|first}) }}
		{% else %}
			{{ 'backend.controlPanel.title'|trans }}
		{% endif %}
	</h1>
{% endblock content_title %}
{% block main %}
	{% for label, messages in app.flashes %}
		<div class="container my-4">
			{% for message in messages %}
				<div class="flash-{{ label }} alert alert-{{ label }}">
					{{ message|trans }}
				</div>
			{% endfor %}
		</div>
	{% endfor %}
	<div class="container">
		{% for operation, template in controlPanelOperations %}
			{{ include(template, {'operation': operation}) }}
		{% endfor %}
	</div>
{% endblock main %}

{% block body_javascript %}{% endblock body_javascript %}
