{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block head_stylesheets %}
	{{ parent() }}
{% endblock %}


{% block page_title %}
	{{ 'backend.controlPanel.exportTranslation'|trans }}
{% endblock page_title %}

{% block main %}
	{% for label, messages in app.flashes %}
		<div class="container my-4">
			{% for message in messages %}
				<div class="flash-{{ label }} alert alert-{{ label }}">
					{{ message|trans }}
				</div>
			{% endfor %}
		</div>
	{% endfor %}
	<div class="container">
		<div class="row">
			<div class="col-10 offset-1 text-center p-4">
				<h1>{{ 'backend.controlPanel.exportTranslationDone'|trans }}</h1>
			</div>
			<div class="col-10 offset-1 text-bg-info p-4">
				<h1 class="text-center">{{ 'backend.controlPanel.exportTranslationOutput'|trans }}</h1>
				<div class="row">
					<div class="col-10 offset-1 p-4">
						{{ exportTranslationContent| nl2br }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock main %}

{% block body_javascript %}{% endblock body_javascript %}
