{% extends '@NakaCMS/layout/base-layout.html.twig' %}

{% block title %}
    {{ 'maintenance.title'|trans }}
{% endblock title %}

{% block content %}
<div class="container text-center my-5">
    <h1 class="my-3">{{ title|default('maintenance.title'|trans) }}</h1>
    <div class="mb-4 py-4">
        <img class="img-fluid" src="{{ getNakaSiteSetting('logoImage', 'images/logo/logo_transparent.png') | imagine_filter('logo_resize') }}" alt="{{ application_name }} Logo">
    </div>

    <p class="lead">{{ message|default('maintenance.message'|trans) }}</p>
    <p class="text-muted">{{ 'maintenance.apology'|trans }}</p>
    <a href="{{ path('app_homepage') }}" class="btn btn-primary mt-3">{{ 'maintenance.returnHome'|trans }}</a>
</div>
{% endblock content %}
