{% extends '@NakaCMS/layout/base-layout.html.twig' %}

{% block title %}
  {{ title|trans }}
{% endblock %}

{% block content %}
  <div class="container text-center my-5">
    <h1 class="my-3">{{ title|trans }}</h1>
    <div class="mb-4 py-4">
      <img class="img-fluid" src="{{ getNakaSiteSetting('logoImage', 'images/logo/logo_transparent.png')|imagine_filter('logo_resize') }}" alt="{{ application_name }} Logo" />
    </div>
    <div class="row">
      <div class="col-8 offset-2">
        <div class="alert alert-info" role="alert">
          {{ message|trans }}
          {# Show maintenance time details if available #}
          {% if maintenance_start is defined and maintenance_start and maintenance_duration is defined and maintenance_duration %}
            {% set startDateTime = date(maintenance_start) %}
            {% set endDateTime = startDateTime|date_modify('+' ~ maintenance_duration ~ ' minutes') %}
            <p class="mt-4">
              <strong>{{ 'maintenance.start'|trans }}:</strong> {{ startDateTime|date('Y-m-d H:i') }}
              <br />
              <strong>{{ 'maintenance.duration'|trans }}:</strong> {{ maintenance_duration }} {{ 'maintenance.minutes'|trans }}
              <br />
              <strong>{{ 'maintenance.end'|trans }}:</strong> {{ endDateTime|date('Y-m-d H:i') }}
            </p>
          {% endif %}
          <p class="text-muted pt-3">{{ 'maintenance.apology'|trans }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
