<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group m-2 p-1">
        <a href="{{ path('app_homepage') }}" class="btn btn-success">
            <i class="fas fa-home"></i> Main Frontend
        </a>
    </div>
    <div class="btn-group m-2 p-1">
        <a href="{{ naka_doc }}" target="_blank" class="btn btn-info">
            <i class="fa fa-question-circle"></i> DOCS
        </a>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="btn-group m-2 p-1">
            <a href="{{ path('admin_dashboard') }}" class="btn btn-success">
                <i class="fas fa-screwdriver"></i> Admin
            </a>
        </div>
    {% endif %}
    <div class="btn-group m-2 p-1">
        <div class="dropdown {{ is_granted(impersonator_permission) ? 'user-is-impersonated' }}">
            <a class="btn btn-outline-secondary user-details" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ user_menu_avatar }}
                {% if ea.userMenu.isNameDisplayed %}
                    <span class="user-name">{{ ea.userMenu.name }}</span>
                {% endif %}
            </a>
            {{ user_menu_dropdown }}
        </div>
    </div>
</div>
