<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
		<title>
			{% block title %}{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/admin.css') }}">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha256-MBffSnbbXwHCuZtgPYiwMQbfE7z+GOZ7fBPCNB06Z98=" crossorigin="anonymous">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous"/>
		{% endblock stylesheets %}
		{% block head_javascript %}
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha256-YMa+wAM6QkVyz999odX7lPRxkoYAan8suedu4k2Zur8=" crossorigin="anonymous"></script>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.3.0/font-awesome-animation.min.css" integrity="sha512-Po8rrCwchD03Wo+2ibHFielZ8luDAVoCyE9i6iFMPyn9+V1tIhGk5wl8iKC9/JfDah5Oe9nV8QzE8HHgjgzp3g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		{% endblock head_javascript %}
	</head>
	<body>
		{% block navbar %}
			<nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
				<div class="container">
					<div class="navbar-brand">
						<span class="faa-parent animated-hover">
							<i class="fas fa-feather-alt faa-flash faa-slow fa-lg"></i>
							{{ app.request.server.get('APPLICATION_NAME') }}
						</span>
					</div>
					<div class="collapse navbar-collapse" id="navbarNav">
						<div class="d-flex justify-content-end">
							{% block navbar_extra_nav %}{% endblock navbar_extra_nav %}
							<ul class="navbar-nav ps-4">
								<li class="nav-item">
									<a href="{{ path('admin_dashboard') }}" role="button" class="nav-link btn btn-sm btn-success">
										<span class="fa fa-fast-backward"></span>
										{{ 'main.returnToAdmin'|trans }}
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		{% endblock navbar %}

		{% block flash_message %}
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						{% set flashes = app.session.flashbag.all() %}
						{% if flashes | length > 0 %}
							{% for type, messages in flashes %}
								{% for message in messages %}
									<div class="alert alert-{{ type }}">{{ message }}</div>
								{% endfor %}
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
		{% endblock flash_message %}
		<div class="container-fluid">
			{% block show_title %}
				<h3 class="text-center my-4">
					{{ block('content_title') }}
				</h3>
			{% endblock show_title %}

			{% block main %}
				<div class="row">
					<div class="{{ form_size is defined ? form_size : 'col-10 offset-1' }}">

						{% block content_explanation_wrapper %}
							{% if block('content_explanation') is not empty %}
								<hr class="my-4"/>
								<div class="lead"> {% block content_explanation %}{% endblock %}
									</div>
								{% endif %}
							{% endblock content_explanation_wrapper %}
						</div>
						<div class="{{ form_size is defined ? form_size :'col-8 offset-2' }}">
							{% block content %}{% endblock %}
						</div>
						<div class="col-12">

							{% block content_extra %}{% endblock %}
						</div>
					</div>
				{% endblock %}

			</div>
			{% block body_javascript %}
				{# <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script> #}
			{% endblock body_javascript %}

		</body>
	</html>
