{{ form_start(registrationForm) }}
<div class="row m-4">
	<h3 class="col-4">{{ form_label(registrationForm.firstName) }}</h3>
	<div class="col-8">{{ form_widget(registrationForm.firstName) }}</div>
</div>
<div class="row m-4">
	<h3 class="col-4">{{ form_label(registrationForm.lastName) }}</h3>
	<div class="col-8">{{ form_widget(registrationForm.lastName) }}</div>
</div>
<div class="row m-4">
	<h3 class="col-4">{{ form_label(registrationForm.birthDate) }}</h3>
	<div class="col-8">{{ form_widget(registrationForm.birthDate) }}</div>
</div>
<div class="row m-4">
	<h3 class="col-4">{{ form_label(registrationForm.address) }}</h3>
	<div class="col-8">{{ form_widget(registrationForm.address) }}</div>
</div>
<div class="row m-4">
	<h3 class="col-4">{{ form_label(registrationForm.email) }}</h3>
	<div class="col-8">{{ form_widget(registrationForm.email) }}</div>
</div>
<div class="row m-4">
	<h3 class="col-4">{{ form_label(registrationForm.plainPassword) }}</h3>
	<div class="col-8">{{ form_widget(registrationForm.plainPassword) }}</div>
</div>
<div class="row m-4">
	<h3 class="col-4">{{ form_label(registrationForm.agreeTerms) }}</h3>
	<div class="col-8">{{ form_widget(registrationForm.agreeTerms) }}</div>
</div>
<div class="row m-4">
	<div class="col-6 offset-3">
		{{ form_row(registrationForm.register, { 'attr' : { 'class': 'btn-gls-impact w-100 p-2' } }) }}
	</div>
</div>
{{ form_end(registrationForm) }}
