{% extends '@NakaCMS/layout/base-layout.html.twig' %}

{% block title %}{{ 'authenticate.verifyEmail.title'|trans }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="login-form bg-light mt-4 p-4">
            <h1 class="h3 mb-3 font-weight-normal">{{ 'authenticate.verifyEmail.header'|trans }}</h1>
            <p>
                {{ 'authenticate.verifyEmail.instructions'|trans }}
            </p>
            <form method="post" action="{{ path('app_verify_resend_email') }}">
                {% if not email %}
                    <div class="form-group">
                        <label for="email">{{ 'authenticate.verifyEmail.emailLabel'|trans }}</label>
                        <input type="email" id="email" name="email" class="form-control" required>
                    </div>
                {% else %}
                    <input type="hidden" name="email" value="{{ email }}">
                    <p>{{ 'authenticate.verifyEmail.emailToResend'|trans({'%email%': email}) }}</p>
                {% endif %}
                <button type="submit" class="btn btn-primary mt-3">{{ 'authenticate.verifyEmail.resendButton'|trans }}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
