<!-- FOOTER -->
<footer class="w-100 py-4 flex-shrink-0">
	<div class="container py-4">
		<div class="row gy-4 gx-5">
			<div class="col-lg-6 col-md-6">
				<div class="display-6 text-white">{{ websiteInfo.translatedTitle |default(application_name) }}</div>
				{% if websiteInfo.translatedCatchPhrase is defined %}
					<h2 class="lead text-white mx-4 mb-3">{{ websiteInfo.translatedCatchPhrase }}</h2>
				{% endif %}
				<p class="small text-muted">
					<i class="fas fa-map-marker-alt main-text-color"></i>
					{{ 'footer.address' | trans }}</p>
				<p class="small text-muted">
					<i class="fas fa-phone main-text-color"></i>
					{{ 'footer.contactData' | trans }}</p>
				<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
					<strong>{{ websiteInfo.websiteInfo.translate.title |default(application_name) }}</strong>, 2021 -
					{{ 'now'|date('Y') }}, v.{{ application_version }}{{ app.environment == 'dev' ? (' - [' ~ app.environment ~ ']') :'' }}<br/>
					{% if trademarkOn is defined and trademarkOn %}
						<small class="text-muted">Made with
							<i class="fa fa-plug text-primary"></i>
							by House of Agile agency</small>
					{% endif %}
				</div>
			</div>
			<div class="col-lg-3 offset-3 col-md-6">
				<div class="ms-5">
					{{ knp_menu_render('footer') }}
				</div>
			</div>
		</div>
	</div>
</footer>
